/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Homepage - Template ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.homepage-template {
	.intro {
		@include element-spacing(2, 'top', 'padding');
		padding-bottom: ($element-space__xs * 2);
		background: url('../images/bgd__intro.png') no-repeat;
		background-size: 100% 100%;

		@include media-breakpoint-up(sm) {
			padding-bottom: ($element-space__sm * 2);
		}

		@include media-breakpoint-up(md) {
			padding-bottom: ($element-space__md * 3);
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: ($element-space__lg * 3);
		}

		@include media-breakpoint-up(xl) {
			padding-bottom: ($element-space__xl * 3);
		}

		&__title-wrapper {
			@include media-breakpoint-up(md) {
				padding-left: 40px;
				max-width: 495px;
			}

			@include media-breakpoint-up(lg) {
				padding-left: 45px;
			}
		}

		&__title {
			position: relative;
			display: inline;
			padding: 0 30px;

			@include media-breakpoint-up(sm) {
				padding: 0;
			}

			&:before,
			&:after {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url('../images/icon__arrow.svg') no-repeat;
				background-size: contain;

				@include media-breakpoint-up(sm) {
					width: 25px;
					height: 25px;
				}

				@include media-breakpoint-up(md) {
					width: 30px;
					height: 30px;
				}

				@include media-breakpoint-up(lg) {
					width: 35px;
					height: 35px;
				}

				@include media-breakpoint-up(xl) {
					width: 40px;
					height: 40px;
				}
			}

			&:before {
				left: 0;
				top: 7.5px;
				position: absolute;

				@include media-breakpoint-up(sm) {
					top: 2.5px;
					left: -35px;
				}

				@include media-breakpoint-up(md) {
					top: 0;
					left: -40px;
				}

				@include media-breakpoint-up(xl) {
					left: -50px;
				}
			}

			&:after {
				right: 0;
				bottom: 10px;
				transform: rotate(180deg);
				margin-left: 10px;

				@include media-breakpoint-up(xl) {
					right: -50px;
					margin-bottom: -5px;
				}
			}
		}

		&__content {
			@include secondary-font('light');
			@include fluid-type(22px, 26px, 1.2);
			color: #fff;

			@include media-breakpoint-up(md) {
				padding-left: 40px;
			}

			@include media-breakpoint-up(lg) {
				padding-left: 45px;
			}
		}

		&__video-wrapper {
			@include media-breakpoint-up(md) {
				max-width: 520px;
				margin-left: auto;
				margin-right: auto;
			}

			.video-bar {
				background: #fff;
				width: 100%;
				height: 30px;
				padding: 0 10px;

				span {
					border: 1px solid #61656d;
					border-radius: 50%;
					width: 13px;
					height: 13px;
					display: inline-block;
					margin: 0 4px;
				}
			}

			iframe,
			.intro__video-placeholder {
				width: 100%;
				height: 250px;

				@include media-breakpoint-up(sm) {
					height: 270px;
				}

				@include media-breakpoint-up(md) {
					height: 280px;
				}

				@include media-breakpoint-up(lg) {
					height: 300px;
				}

				&.no-after {
					&:after {
						display: none;
					}
				}
			}

			.intro__video-placeholder {
				position: relative;

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					display: block;
					background: rgba($primary-color, .47);
				}

				.play-button {
					@extend %single-transition;
					width: 75px;
					height: 75px;
					background: #fff;
					border-radius: 50%;
					display: block;
					position: absolute;
					top: calc(50% - 37.5px);
					left: calc(50% - 37.5px);
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					&:hover,
					&:focus {
						transform: scale(1.2);
					}

					&:after {
						content: '';
						width: 0;
						height: 0;
						display: block;
						border-top: 25px solid transparent;
						border-left: 40px solid $secondary-color;
						border-bottom: 25px solid transparent;
						margin-left: 10px;
					}
				}
			}
		}
	}

	.about-what {
		@include element-spacing('-.5', 'top', 'margin');
	}

	.about-why {
		background: rgba(#004c66, .1);
	}

	.about-how {
		&__content {
			@include fluid-type(17px, 19px, 1.2);
		}
	}

	.for-who {
		.single-for {
			max-width: 510px;

			&__icon {
				width: 90px;
				height: 75px;
				margin-left: auto;
				margin-right: auto;

				path,
				* {
					stroke: #455963;
					stroke-width: 3px;
				}
			}

			&__accordion {
				.card {
					border: none;
					border-radius: 0;
					padding: 0;
					margin-top: 10px;

					.card-header {
						padding: 0;
						border-radius: 0;
						border: none;
						background: transparent;

						&__button {
							@include primary-font();
							@include fluid-type(21px, 23px, 1.2);
							border: none;
							text-align: left;
							background: rgba(#32bfbe, .2);
							width: 100%;
							color: #004c66;
							padding: 5px 50px 5px 20px;
							position: relative;

							&[aria-expanded="true"] {
								&:after {
									transform: rotate(-45deg);
									top: 15px;
								}
							}

							&:after {
								@extend %single-transition;
								content: '';
								position: absolute;
								width: 13px;
								height: 13px;
								border-top: 1px solid #61656d;
								border-right: 1px solid #61656d;
								transform: rotate(135deg);
								right: 15px;
								top: 7.5px;
							}
						}
					}

					&__collapse {
						padding: 0;

						.card-body {
							@include fluid-type(17px, 19px, 1.2);
							padding: 10px !important;
						}
					}
				}
			}
		}
	}

	.key-facts {
		background: $secondary-color;

		@include media-breakpoint-up(md) {
			background: url('../images/bgd__keys.png') no-repeat;
			background-size: 100% 100%;
			padding-bottom: ($element-space__md * 5);
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: ($element-space__lg * 5);
		}

		@include media-breakpoint-up(xl) {
			padding-bottom: ($element-space__xl * 5);
		}

		&__icon {
			max-width: 65px;
			width: 63px;
			max-height: 70px;
			display: block;
			margin-right: 15px;

			path,
			* {
				stroke: #fff;
				fill: #fff;

				@include media-breakpoint-up(md) {
					stroke: $secondary-color;
					fill: $secondary-color;
				}
			}
		}

		&__title {
			margin-top: 5px;
			color: #fff;

			@include media-breakpoint-up(md) {
				color: #004c66;
			}
		}

		&__content {
			color: #fff;

			@include media-breakpoint-up(md) {
				color: #54565a;
			}
		}

		&__image {
			width: 100%;

			@include media-breakpoint-up(md) {
				width: 800px;
				float: right;
			}

			@include media-breakpoint-up(lg) {
				width: 900px;
			}

			@include media-breakpoint-up(xl) {
				width: 1000px;
			}
		}

		.single-fact {
			&__icon {
				width: 40px;
				height: 40px;
				margin-right: 15px;

				@include media-breakpoint-up(sm) {
					width: 45px;
					height: 45px;
				}

				@include media-breakpoint-up(md) {
					width: 50px;
					height: 50px;
				}

				@include media-breakpoint-up(lg) {
					width: 60px;
					height: 60px;
				}
			}

			&__title {
				@include primary-font();
				@include fluid-type(24px, 30px);
				color: #004c66;
			}

			&__content {
				@include primary-font();
				@include fluid-type(17px, 21px, 1.2);
				color: #fff;
			}
		}

		.impression {
			float: left;

			&__title-wrapper {
				@include media-breakpoint-up(md) {
					padding-left: 40px;
					max-width: 495px;
				}

				@include media-breakpoint-up(lg) {
					padding-left: 45px;
				}
			}

			&__title {
				@include fluid-type(48px, 52px, 1.2);
				color: #fff;
				position: relative;
				display: inline;
				padding: 0 30px;

				@include media-breakpoint-up(sm) {
					padding: 0;
				}

				&:before,
				&:after {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url('../images/icon__arrow--white.svg') no-repeat;
					background-size: contain;

					@include media-breakpoint-up(sm) {
						width: 25px;
						height: 25px;
					}

					@include media-breakpoint-up(md) {
						width: 30px;
						height: 30px;
					}

					@include media-breakpoint-up(lg) {
						width: 35px;
						height: 35px;
					}

					@include media-breakpoint-up(xl) {
						width: 40px;
						height: 40px;
					}
				}

				&:before {
					left: 0;
					top: 7.5px;
					position: absolute;

					@include media-breakpoint-up(sm) {
						top: 2.5px;
						left: -35px;
					}

					@include media-breakpoint-up(md) {
						top: 0;
						left: -40px;
					}

					@include media-breakpoint-up(xl) {
						left: -50px;
					}
				}

				&:after {
					right: 0;
					bottom: 10px;
					transform: rotate(180deg);
					margin-left: 10px;

					@include media-breakpoint-up(xl) {
						right: -50px;
						margin-bottom: -5px;
					}
				}
			}

			&__content {
				@include secondary-font('light');
				@include fluid-type(22px, 26px, 1.2);
				color: #fff;

				@include media-breakpoint-up(md) {
					padding-left: 40px;
				}

				@include media-breakpoint-up(lg) {
					padding-left: 45px;
				}
			}
		}
	}

	.get-in-touch {
		@include media-breakpoint-up(md) {
			padding-top: 0;
			margin-top: ($element-space__md * -1);
		}

		@include media-breakpoint-up(lg) {
			margin-top: ($element-space__lg * -1);
		}

		@include media-breakpoint-up(xl) {
			margin-top: ($element-space__xl * -1);
		}

		&__form {
			.gform_wrapper {
				form {

					.validation_error {
					    color: #ff6565 !important;
					    border-color: #ff6565 !important;
					}

					.gform_body {
						width: calc(100% + 40px);

						.gform_fields {
							.gfield {
								padding-right: 40px;

								&--active {
		                            label {
		                                @include fluid-type(11px, 12px);
		                                color: $primary-color !important;

		                            }
		                        }

								label {
								    @extend %single-transition;
								    @include fluid-type(20px, 26px, 1.5);
								    @include secondary-font('light');
								    color: #004c66;

								    .gfield_required {
								        display: none;
								    }
								}

								input {
									@extend %single-transition;
									@include secondary-font('light');
									@include fluid-type(18px, 21px);
									padding: 0 !important;
									background-color: transparent;
									border: none !important;
									border-bottom: 1px solid #61656d !important;
									border-radius: 0 !important;
									box-shadow: none !important;
									max-width: none;
									width: 100% !important;
									margin-top: -30px;

									&:focus {
									    border-color: $primary-color !important;
									}
								}

								.ginput_container {
									margin-top: 0;
								}


								&--active {
								    label {
								        @include fluid-type(11px, 12px);
								        padding-bottom: 0;
								        margin-bottom: 0 !important;
								        color: #004c66 !important;
								    }

								    input {
								        padding: 0 0 10px 0 !important;
								        margin-top: 0;
								    }
								}

								.validation_message {
									display: none;
								}

								&.gfield_error {
								    border: none;
								    background-color: transparent;
								    margin: 0;

								    label {
								        color: #ff6565 !important;
								        margin-top: 0 !important;

								        .gfield_required {
								            display: none;
								        }
								    }

								    input {
								        border-color: #ff6565 !important;

								        &::-webkit-input-placeholder {
								            color: #ff6565 !important;
								        }

								        &::-moz-placeholder {
								            color: #ff6565 !important;
								        }

								        &:-ms-input-placeholder {
								            color: #ff6565 !important;
								        }

								        &:-moz-placeholder {
								            color: #ff6565 !important;
								        }
								    }

								    .ginput_container {
								        margin-top: 10px;

								        @include media-breakpoint-up(sm) {
								            margin-top: 15px;
								        }

								        @include media-breakpoint-up(md) {
								            margin-top: 20px;
								        }
								    }
								}
							}
						}
					}

					.gform_footer {
						.gform_button {
							@extend .embark-button,
									.embark-button__full-background,
									.embark-button__full-background--primary-color,
									.embark-button--small;
							border: none;
							padding-left: 35px;
							padding-right: 35px;
						}
					}
				}
			}
		}
	}

	.cta {
		background: #004c66;

		&__title {
			color: #fff;
		}

		&__subtitle {
			@include secondary-font('light');
			@include fluid-type(17px, 19px);
			color: #fff;
			margin-top: 10px;
		}

		&__button {
			@include secondary-font('regular');
			@include fluid-type(26px, 32px);
			color: $primary-color;
			margin-top: 5px;
			display: block;

			&:hover,
			&:focus {
			    color: lighten($primary-color, 10%);
			}
		}
	}
}