/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Fonts ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


	/* ~~~~~~~~~~ Sofia Pro ~~~~~~~~~~ */

	@mixin primary-font($fontWeight: "light") {
	    @if $fontWeight == "light" {
	        font-weight: 300;
	    } @elseif $fontWeight == "regular" {
	        font-weight: 400;
	    } @elseif $fontWeight == "medium" {
	        font-weight: 500;
	    } @elseif $fontWeight == "semi-bold" {
	        font-weight: 600;
	    }
	    font-family: sofia-pro, sans-serif;
	    font-style: normal;
	}


	/* ~~~~~~~~~~ Muli ~~~~~~~~~~ */

	@mixin secondary-font($fontWeight: "light") {
	    @if $fontWeight == "light" {
	        font-weight: 300;
	    } @elseif $fontWeight == "regular" {
	        font-weight: 400;
	    }
	    font-family: muli, sans-serif;
	    font-style: normal;
	}