/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ Header ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

	.mm-menu {
	    background-color: #004c66 !important;

	    .mm-panel {
	    	padding: 0;

	    	&:before {
	    		display: none;
	    	}
	    }

	    .mobile-nav {
	    	margin: 0 !important;

	    	.nav-item {
	    		position: relative;

	    		&:after {
	    			display: none;
	    		}

	    		a {
	    			@include primary-font('regular');
	    			@include fluid-type(18px, 21px);
	    			color: #fff;
	    			width: 100%;

	    			&.dropdown-toggle {
	    				&:after {
	    					display: none;
	    				}
	    			}

	    			&:not(.mm-next) {
	    			    &:hover,
	    			    &:focus {
	    			        background: $primary-color;
	    			    }
	    			}

	    			&.mm-next {
	    				width: 100%;
	    				position: absolute;
	    				left: 0;
	    				top: 0;
	    				color: #fff;
	    				background: transparent !important;

	    				&:before {
	    					display: none;
	    				}

	    				&:after {
	    					border-color: #fff;
	    					transform: rotate(-135deg);
	    				}

    					&:hover,
    					&:focus {
    						& + a {
	    						background: $primary-color;
	    					}
    					}
	    			}
	    		}

	    		.mm-panel {
	    			padding: 0;

	    			li {
	    				&:after {
	    					display: none;
	    				}
	    			}
	    		}
	    	}
	    }
	}


	.main-header {
		@include admin-sticky-fix();
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		&--scrolled {
			.navbar {
				background: rgba(0,76,102,1) !important;
				padding: 15px 0 !important;

				.navbar-brand {
					&__logo {
						width: 120px !important;
						height: 32px !important;
					}
				}
			}
		}

		.navbar {
			@extend %single-transition;
			display: block;
			padding: 50px 0;

			.navbar-brand {
				display: block;
				padding: 0;
				margin: 0;

				&__logo {
					@extend %single-transition;
					display: block;
					width: 120px;
					height: 32px;

					@include media-breakpoint-up(sm) {
						width: 140px;
						height: 37px;
					}

					@include media-breakpoint-up(md) {
						width: 170px;
						height: 45px;
					}

					@include media-breakpoint-up(lg) {
						width: 200px;
						height: 58px;
					}

					@include media-breakpoint-up(xl) {
						width: 227px;
						height: 60px;
					}
				}
			}

			.navbar-nav {
				flex-direction: inherit;
				display: none;

				@include media-breakpoint-up(md) {
					display: flex;
				}

				.nav-item {
					.nav-link {
						@include primary-font('regular');
        				@include fluid-type(14px, 16px, 1);
						color: #fff;
						padding: 0 20px;

						&.dropdown-toggle {
							&:after {
								position: absolute;
								border: none;
								width: 10px;
								height: 10px;
								border-top: 2px solid #fff;
								border-right: 2px solid #fff;
								transform: rotate(135deg);
								margin-left: 10px;
								margin-top: 2px;
							}
						}
					}

					.dropdown-menu {
						position: absolute;
						left: 20px;
						top: 30px;
						border-radius: 0;
						border: 1px solid #e7e7e7;
						padding: 0;

						&:after {
							content: '';
							position: absolute;
							width: 100%;
							height: 20px;
							top: -20px;
							left: 0;
							display: block;
						}

						&:before {
							@extend %single-transition;
							content: '';
							background-color: #fff;
							width: 15px;
							height: 15px;
							transform: rotate(45deg);
							border-left: 1px solid #e7e7e7;
							border-top: 1px solid #e7e7e7;
							position: absolute;
							top: -8px;
							right: 22.5px;
						}

						.dropdown-item {
							@include primary-font('regular');
        					@include fluid-type(14px, 16px, 1);
							padding: 12.5px 30px;
							cursor: pointer;
							position: relative;
							z-index: 2;

							&:first-child {
								&:before {
									@extend %single-transition;
									content: '';
									background-color: #fff;
									width: 15px;
									height: 15px;
									transform: rotate(45deg);
									border-left: 1px solid #e7e7e7;
									border-top: 1px solid #e7e7e7;
									position: absolute;
									top: -8px;
									right: 22.5px;
								}
							}

							&:hover,
							&:focus,
							&.active {
								background: $primary-color;
								color: #fff;

								&:before {
									background-color: $primary-color;
								}
							}
						}
					}
				}
			}

			.hamburger {
			    display: block;
			    transform: scale(0.7);
			    padding: 0;
			    width: 40px;
			    height: 24px;

			    @include media-breakpoint-up(md) {
			        display: none;
			    }

			    .hamburger-box {
			        .hamburger-inner {
			            &,
			            &:after,
			            &:before {
			                background-color: #fff;
			                height: 3px;
			                border-radius: 3px;
			            }
			        }
			    }
			}
		}
	}